.aboutView {
	z-index: 1;
	background-color: #070;
	margin: auto auto;
	width: 50vw;
	height: 80vh;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-around;
	padding: 1em 3em;
	border: 1.5px solid black;
	border-radius: 10%;
}

.aboutView article {	
	display: flex;
	padding: 1em 2em;
	flex-direction: column;
	overflow: auto;
}

.aboutView p {
	text-align: justify;
	margin: 0;
}

.aboutView h2 {
	font-size: 3vw;
	text-align: center;
}

@media only screen and (max-width: 600px){
	.aboutView article {
		padding-left: 0;
	}

	.aboutView p {
		text-align: left;
	}

	.aboutView h2 {
		font-size: 5vw;
	}
}