.logoImage {
	height: 30px;
	width: 30px;
	margin-right: .5em;
	translate: 0px 5px;
	margin-bottom: -5px;
}

h1 {
	font-size: 1.2em;
}

.logo {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}