.aboutView {
	height: 80vh;
	width: 50vw;
	z-index: 1;
	background-color: #070;
	margin: auto auto;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-around;
	padding: 1em;
	box-shadow: #000 1px 1px 5px;
	border-radius: 10%;
}

p {
	margin-bottom: 8px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}