.aboutView {
	z-index: 1;
	background-color: #070;
	margin: auto auto;
	width: 50vw;
	height: 80vh;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-around;
	padding: 1em 3em;
	border: 1.5px solid black;
	border-radius: 10%;
}

article {	
	display: flex;
	padding: 1em 2em;
	flex-direction: column;
	overflow: auto;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

article p {
	text-align: justify;
	margin: 0;
}

article h2 {
	font-size: 3vw;
	text-align: center;
}

@media only screen and (max-width: 600px){
	article {
		padding-left: 0;
	}

	article p {
		text-align: left;
	}

	article h2 {
		font-size: 5vw;
	}
}