.acceptButton {
	padding: 1em;
	margin: 0 .5em;
	cursor: pointer;
	background-color: #8b0000;
	color: #fee;
	font-size: .9em;
  border: 1px solid #000;
	outline: none;
	transition: all .2s;
	border-radius: 20px;
}

.acceptButton:hover {
	background-color: #ad0000;
}

.acceptButton:active {
	transform: translateY(2px);
}