.bigButton {
	padding: 0 .5em;
	cursor: pointer;
	transition: all .3s;
	width: 120px;
	height: 130px;
}

.bigButton:hover {
	transform: rotate(-10deg);
}

.bigButton:active {
	transform: scale(1.1) rotate(-10deg);
}

@media only screen and (max-width: 400px) {
	.bigButton {
		width: 85px;
		height: 90px;
	}
}