.logoImage {
	width: 20em;
}

.logoContainer {
	display: flex;
	align-items: center;
	padding: .5em;
}

@media only screen and (max-width: 500px){
	.logoImage {
		max-width: 50vw;
	}

	.logoContainer {
		padding: 0;
	}
}